In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('marketing_customer_analysis.csv')

In [2]:
#Show the dataframe shape.
display(data.head())
data.shape

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

(10910, 26)

In [3]:
#Standardize header names.
data = data.drop(['Unnamed: 0'],axis=1)

In [4]:
data.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

In [5]:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [6]:
#Which columns are numerical?
data._get_numeric_data()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [7]:
#Which columns are categorical?
data.select_dtypes(['object'])

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

In [8]:
#Check and deal with NaN values.
data.isna().sum()
#data.isna().sum()/len(donors)

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [9]:
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
display(nulls_df)

                      header_name  percent_nulls
0                        customer           0.00
1                           state           5.78
2         customer_lifetime_value           0.00
3                        response           5.78
4                        coverage           0.00
5                       education           0.00
6               effective_to_date           0.00
7                employmentstatus           0.00
8                          gender           0.00
9                          income           0.00
10                  location_code           0.00
11                 marital_status           0.00
12           monthly_premium_auto           0.00
13        months_since_last_claim           5.80
14  months_since_policy_inception           0.00
15      number_of_open_complaints           5.80
16             number_of_policies           0.00
17                    policy_type           0.00
18                         policy           0.00
19               renew_offer_type           0.00
20                  sales_channel           0.00
21             total_claim_amount           0.00
22                  vehicle_class           5.70
23                   vehicle_size           5.70
24                   vehicle_type          50.25

In [10]:
data[data['vehicle_type'].isna()==True].head(60)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,87197,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN
11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,1/31/11,Employed,F,69096,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,NaN
14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2/28/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,NaN
15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,79487,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2/14/11,Medical Leave,F,13662,...,0.0,3,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,NaN
23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,70174,...,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,63774,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
29,BD70337,California,24706.920110,No,Basic,High School or Below,1/7/11,Medical Leave,M,26307,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,NaN
31,DP19210,California,9191.733549,No,Basic,Master,2/8/11,Employed,F,23823,...,0.0,6,Corporate Auto,Corporate L2,Offer2,Branch,567.480550,Sports Car,Medsize,NaN
33,OH23893,California,9115.571690,No,Basic,Bachelor,2/15/11,Employed,F,69588,...,0.0,6,Personal Auto,Personal L1,Offer1,Branch,173.080024,SUV,Medsize,NaN
34,RI76930,California,4163.040810,No,Basic,College,2/12/11,Employed,F,43276,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,499.200000,SUV,Large,NaN
35,YK26558,California,5264.642009,No,Basic,College,2/20/11,Unemployed,F,0,...,0.0,8,Special Auto,Special L3,Offer1,Branch,135.888306,Four-Door Car,Medsize,NaN
36,OE15005,California,3945.241604,No,Basic,College,1/5/11,Medical Leave,M,28855,...,0.0,1,Personal Auto,Personal L2,Offer3,Call Center,647.442031,SUV,Medsize,NaN
37,RA17555,Oregon,5176.730072,No,Basic,High School or Below,2/7/11,Employed,M,41533,...,0.0,9,Corporate Auto,Corporate L2,Offer3,Agent,232.879766,Four-Door Car,Medsize,NaN
38,ZI34278,Arizona,4492.233480,No,Basic,Bachelor,1/28/11,Medical Leave,F,21137,...,1.0,6,Personal Auto,Personal L1,Offer2,Web,292.800000,Four-Door Car,Medsize,NaN
41,BE25221,Arizona,6182.618843,No,Extended,High School or Below,2/7/11,Medical Leave,M,20072,...,0.0,9,Corporate Auto,Corporate L3,Offer1,Agent,473.266879,Four-Door Car,Medsize,NaN
44,ER49844,Arizona,5041.447024,No,Basic,College,1/19/11,Employed,M,61972,...,2.0,5,Personal Auto,Personal L1,Offer4,Call Center,138.961963,Four-Door Car,Medsize,NaN
46,SY48591,Arizona,4827.776810,No,Basic,College,1/17/11,Unemployed,F,0,...,0.0,6,Personal Auto,Personal L3,Offer1,Branch,326.400000,Four-Door Car,Medsize,NaN
47,PR23514,California,7664.219255,No,Basic,College,1/23/11,Employed,M,60184,...,1.0,1,Personal Auto,Personal L3,Offer2,Web,161.615740,Luxury SUV,Medsize,NaN
52,TX39594,Arizona,2452.491364,No,Basic,High School or Below,1/25/11,Employed,F,51085,...,1.0,1,Personal Auto,Personal L3,Offer3,Call Center,406.902001,Two-Door Car,Small,NaN
53,GR42174,Oregon,2194.668123,No,Basic,College,1/2/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,623.525433,Four-Door Car,Medsize,NaN
54,XI79589,California,4473.883999,No,Extended,High School or Below,2/16/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L1,Offer1,Branch,600.000000,SUV,Medsize,NaN
56,TW17878,Oregon,2457.576007,No,Basic,High School or Below,1/27/11,Employed,F,52926,...,0.0,1,Personal Auto,Personal L3,Offer1,Call Center,292.800000,Four-Door Car,Medsize,NaN
58,BR69566,NaN,14019.833140,NaN,Basic,College,2/18/11,Employed,M,31739,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,469.882367,Two-Door Car,Small,NaN
59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,1/26/11,Employed,M,91416,...,NaN,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN
62,UF44021,NaN,2108.493744,NaN,Basic,Bachelor,1/2/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,351.856810,Two-Door Car,Medsize,NaN
63,AV25133,Oregon,3095.705571,No,Extended,College,1/12/11,Unemployed,F,0,...,1.0,1,Personal Auto,Personal L3,Offer3,Web,774.892461,Two-Door Car,Small,NaN
65,LO57874,Oregon,2300.691547,Yes,Basic,Bachelor,1/15/11,Retired,M,25905,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,302.400000,Four-Door Car,Large,NaN
70,PH78214,Oregon,5427.174517,No,Basic,College,2/11/11,Medical Leave,F,27677,...,1.0,3,Personal Auto,Personal L3,Offer2,Agent,345.600000,Four-Door Car,Medsize,NaN
72,FH81409,California,8152.244431,No,Extended,High School or Below,1/21/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L1,Offer1,Agent,568.800000,Four-Door Car,Small,NaN
73,RW65977,Arizona,2191.133237,No,Basic,College,1/29/11,Unemployed,M,0,...,1.0,1,Special Auto,Special L2,Offer1,Agent,439.200000,Four-Door Car,Medsize,NaN
74,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,...,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,Luxury SUV,Medsize,NaN
75,OZ92426,Oregon,2364.431610,No,Basic,College,1/18/11,Employed,M,46264,...,0.0,1,Corporate Auto,Corporate L1,Offer4,Branch,199.373610,Four-Door Car,Medsize,NaN
76,FI17798,California,2710.120660,No,Basic,Doctor,1/11/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,340.800000,Four-Door Car,Small,NaN
77,YC54142,Washington,74228.516040,No,Extended,High School or Below,1/26/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L1,Offer1,Branch,1742.400000,Luxury Car,Medsize,NaN
79,SX63814,Arizona,9312.585034,No,Premium,High School or Below,2/13/11,Employed,M,75986,...,0.0,3,Personal Auto,Personal L3,Offer3,Call Center,89.119797,Four-Door Car,Medsize,NaN
81,RO18530,Washington,2540.689797,No,Basic,Master,2/28/11,Employed,M,42557,...,0.0,1,Personal Auto,Personal L3,Offer4,Agent,57.562324,Four-Door Car,Large,NaN
83,DY27653,Oregon,3755.806897,No,Extended,High School or Below,1/4/11,Employed,F,56178,...,0.0,1,Personal Auto,Personal L3,Offer2,Branch,451.200000,Four-Door Car,Medsize,NaN
84,OH69760,Arizona,5181.054467,No,Basic,College,2/2/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer1,Branch,336.000000,Four-Door Car,Large,NaN
87,ZH92587,Oregon,8126.766397,No,Basic,College,2/22/11,Disabled,F,14616,...,NaN,3,Personal Auto,Personal L3,Offer1,Agent,513.600000,NaN,NaN,NaN
88,CJ51511,Arizona,13466.920710,Yes,Basic,High School or Below,2/23/11,Disabled,F,11432,...,NaN,2,Corporate Auto,Corporate L3,Offer2,Agent,571.200000,NaN,NaN,NaN
91,KD63933,California,7048.384055,No,Basic,College,2/19/11,Medical Leave,M,24030,...,0.0,1,Personal Auto,Personal L1,Offer1,Agent,970.688934,Luxury SUV,Medsize,NaN
92,CM66204,Arizona,26770.445340,No,Basic,College,1/23/11,Employed,F,26335,...,1.0,2,Personal Auto,Personal L2,Offer1,Call Center,355.818306,SUV,Large,NaN
93,NV13794,Nevada,9549.113813,No,Basic,High School or Below,2/9/11,Employed,F,55986,...,0.0,9,Personal Auto,Personal L1,Offer1,Agent,388.506303,SUV,Small,NaN
94,HF75891,Washington,4331.460674,No,Basic,High School or Below,2/11/11,Employed,F,82302,...,0.0,1,Personal Auto,Personal L2,Offer1,Branch,722.178166,SUV,Medsize,NaN
96,AV96010,Oregon,3289.120863,No,Extended,College,1/29/11,Employed,M,40097,...,4.0,1,Personal Auto,Personal L2,Offer1,Call Center,227.221652,Two-Door Car,Medsize,NaN
99,JY66887,California,16320.767160,No,Extended,High School or Below,2/27/11,Unemployed,F,0,...,3.0,5,Personal Auto,Personal L2,Offer2,Branch,1778.400000,Luxury Car,Medsize,NaN
100,NH16984,California,2838.067784,No,Extended,Bachelor,2/7/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L1,Offer1,Web,336.509610,Four-Door Car,Medsize,NaN
104,SZ60450,California,3419.108695,No,Extended,High School or Below,2/13/11,Employed,M,40272,...,0.0,1,Personal Auto,Personal L3,Offer3,Agent,23.387192,Two-Door Car,Medsize,NaN
107,No31089,Arizona,3179.474225,No,Extended,Bachelor,1/21/11,Employed,F,65742,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,277.360797,Four-Door Car,Medsize,NaN
109,TK65222,California,16407.664610,No,Premium,Bachelor,1/12/11,Employed,M,22103,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,160.338007,Four-Door Car,Large,NaN
111,DO60145,Arizona,4270.034394,Yes,Extended,College,1/19/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,725.870693,SUV,Medsize,NaN
112,BA40043,California,5799.826802,No,Basic,College,1/3/11,Employed,M,60689,...,0.0,7,Corporate Auto,Corporate L2,Offer2,Branch,5.746657,Four-Door Car,Medsize,NaN

In [11]:
display(data['vehicle_type'].value_counts())

A    5428
Name: vehicle_type, dtype: int64

In [12]:
data['vehicle_type'] = data['vehicle_type'].fillna('A')

In [13]:
display(data['vehicle_size'].value_counts())

Medsize    7251
Small      1966
Large      1071
Name: vehicle_size, dtype: int64

In [14]:
data['vehicle_size'] = data['vehicle_size'].fillna('Medsize')

In [15]:
display(data['vehicle_class'].value_counts())

Four-Door Car    5212
Two-Door Car     2118
SUV              2012
Sports Car        550
Luxury SUV        208
Luxury Car        188
Name: vehicle_class, dtype: int64

In [16]:
data['vehicle_class'] = data['vehicle_class'].fillna('Four-Door Car')

In [17]:
#numeric
display(data['months_since_last_claim'].value_counts())

3.0     426
6.0     394
1.0     386
7.0     378
4.0     373
2.0     368
5.0     355
0.0     354
10.0    346
16.0    333
11.0    331
15.0    323
13.0    320
8.0     315
12.0    307
17.0    299
14.0    299
9.0     277
23.0    276
19.0    276
25.0    269
21.0    267
18.0    257
20.0    254
22.0    246
24.0    237
29.0    234
28.0    227
31.0    221
26.0    211
27.0    208
30.0    201
34.0    199
33.0    198
35.0    157
32.0    155
Name: months_since_last_claim, dtype: int64

In [18]:
mean_months_since_last_claim = data['months_since_last_claim'].mean()
print(round((mean_months_since_last_claim),0))

15.0

In [19]:
data['months_since_last_claim'] = data['months_since_last_claim'].fillna(mean_months_since_last_claim)

In [20]:
display(data['number_of_open_complaints'].value_counts())

0.0    8160
1.0    1145
2.0     414
3.0     324
4.0     166
5.0      68
Name: number_of_open_complaints, dtype: int64

In [21]:
mean_number_of_open_complaints = data['number_of_open_complaints'].mean()
print(round((mean_number_of_open_complaints),0))

0.0

In [22]:
data['number_of_open_complaints'] = data['number_of_open_complaints'].fillna(mean_number_of_open_complaints)

In [23]:
display(data['response'].value_counts())

No     8813
Yes    1466
Name: response, dtype: int64

In [24]:
data['response'] = data['response'].fillna('No')

In [25]:
display(data['state'].value_counts())

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [26]:
data['state'] = data['state'].fillna('California')

In [27]:
#check all nan values again
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
display(nulls_df)

                      header_name  percent_nulls
0                        customer            0.0
1                           state            0.0
2         customer_lifetime_value            0.0
3                        response            0.0
4                        coverage            0.0
5                       education            0.0
6               effective_to_date            0.0
7                employmentstatus            0.0
8                          gender            0.0
9                          income            0.0
10                  location_code            0.0
11                 marital_status            0.0
12           monthly_premium_auto            0.0
13        months_since_last_claim            0.0
14  months_since_policy_inception            0.0
15      number_of_open_complaints            0.0
16             number_of_policies            0.0
17                    policy_type            0.0
18                         policy            0.0
19               renew_offer_type            0.0
20                  sales_channel            0.0
21             total_claim_amount            0.0
22                  vehicle_class            0.0
23                   vehicle_size            0.0
24                   vehicle_type            0.0

In [28]:
display(data)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,0.384256,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A

In [29]:
#Datetime format
#data["date_conversion"] = pd.to_datetime(data["effective_to_date"])
#data["Month"] = data["date_conversion"].dt.month

data["Month"] = pd.to_datetime(data["effective_to_date"]).dt.month
display(data.head())

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [31]:
data_q1 = data[data["Month"].isin([1, 2, 3])]

display(data_q1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,1/8/11,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1